.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  margin: 0px;
  padding: 20px;
}
.main-head {
  font-size: 40px;
  font-family: Roboto;
  color: #ffffff;
}
.desc {
  font-size: 25px;
  font-family: Roboto;
  color: #ffffff;
}
.find-jobs-btn {
  background-color: #4f46e5;
  color: #ffffff;
  padding: 10px;
  margin: 30px;
  font-size: 15px;
  border-radius: 5px;
  border: 0px none;
  font-family: Roboto;
}
